[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
Django = "*"
gunicorn = "*"
pytz = "*"
sqlparse = "*"
whitenoise = "*"


[dev-packages]

[requires]
python_version = "3.9"
