{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}

<!-- contact section start -->
<div class="container">
    <h1 class="new_text"><strong>Nos contate agora!</strong></h1>
</div>
<div class="layout_padding contact_section">
    <div class="container background-black">
        <div class="container" style="margin-top:5px; text-align:center;">
            {% bootstrap_messages %}
        </div>
        <form action="{% url 'about' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
             <div class="send_btn">
                <button type="submit" class="btn btn-primary">Enviar</button>
             </div>
            {% endbuttons %}
        </form>
    </div>
</div>

{% endblock %}
