{% load static %}
{% extends 'base.html' %}

{% block content %}
<div class="carousel-inner">
	<div class="carousel-item active">
		<div class="row">
			<div class="col-sm-2 padding_0">

			</div>
			<div class="col-sm-5">
				<div class="banner_taital">
					<h1 class="mens_text"><strong>Fazendo o seu estilo!</strong></h1>
					{% if not user.is_anonymous %}
						<p class="lorem_text">Faça login ou cadastre-se</p>
						<button class="buy_bt">Login</button>
						<button class="more_bt">Cadastre-se</button>
					{% endif  %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
