{% extends 'base.html' %}
{% block content %}

<!-- content section start -->
<!--<div class="header_back">-->
<!--    <a class="back" href="/collection">< Voltar</a>-->
<!--</div>-->

<div class="collectipn_section_3 layuot_padding about_product">
    <div class="container">
        <div class="new_product">
            <div class="row">
                <div class="col-md-6">
                    <div class="shoes-img3"><img src="{{ product.image.url }}"></div>
                </div>
                <div class="col-md-6 view-product">
                    <div class="sale_text">
                        <span style="color: #0a0506;">{{product.name}}</span>
                    </div>
                    <br>
                    <p>{{product.description}}</p>

                    <div class="number_text"><strong>R$<span style="color: #fffff">{{product.price}}</span></strong>
                    </div>

                    <div class="sizes">
                        <button class="size_btn">P</button>
                        <button class="size_btn">M</button>
                        <button class="size_btn">G</button>
                        <button class="size_btn">GG</button>
                        <button class="size_btn">2GG</button>
                        <br><br>
                        <label>Quantidade:</label>
                        <select name="size">
                            {% for number in sizes %}
                            <option>{{number}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <a href="{% url 'payment_product' product.id %}">
                        <button class="buy_new">Comprar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content section end -->

<script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });


		$('#myCarousel').carousel({
            interval: false
        });

        //scroll slides on swipe for touch enabled devices

        $("#myCarousel").on("touchstart", function(event){

            var yClick = event.originalEvent.touches[0].pageY;
            $(this).one("touchmove", function(event){

                var yMove = event.originalEvent.touches[0].pageY;
                if( Math.floor(yClick - yMove) > 1 ){
                    $(".carousel").carousel('next');
                }
                else if( Math.floor(yClick - yMove) < -1 ){
                    $(".carousel").carousel('prev');
                }
            });
            $(".carousel").on("touchend", function(){
                $(this).off("touchmove");
            });
        });

</script>

{% endblock %}
