{% load static %}
{% extends 'base.html' %}
{% block content %}
<!-- New Arrivals section start -->

{% include 'filters.html' %}

<div class="layout_padding gallery_section">
	<div class="container">
		<div class="row">
			{% if catalog %}
			<div class="col-sm-6">
				<h1>adasdadd</h1>
				<h1>adasdadd</h1>
				<h1>adasdadd</h1>
				<h1>adasdadd</h1>
				<h1>adasdadd</h1>
				<a>Roupas</a>
				<a>Roupas</a>
				<a>Roupas</a>
				<a>Roupas</a>
				<a>Roupas</a>
			</div>
			{% endif %}

			{% for product in products %}
			<div class="col-sm-4">
				<div class="best_shoes">
					<p class="best_text">{{product.name}}</p>
					<a href="{% url 'product' product.id %}">
						<div class="shoes_icon"><img src="{{ product.image.url }}"></div>
						<div class="shoes_price">R$ <span style="color: #fffff;">{{product.price}}</span></div>
						<button class="buy_text">Comprar</button>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- New Arrivals section end -->
{% endblock %}
