{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Loja</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
	<!-- header section start -->
	<div class="header_section header_main">
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<div class="logo"><h1 class="banner_text">Underground Store</h1></div>
				</div>
				<div class="col-sm-6">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/">Início</a>
                            <a class="nav-item nav-link" href="/collection">Roupas</a>
                            <a class="nav-item nav-link" href="/about">Contato</a>
						</div>
                    </div>
                    </nav>
				</div>
			</div>
		</div>
	</div>
	<!-- New Arrivals section start -->

  	<div class="collection_text">
		<div class="filters">
			<div>
				<label>Pesquisar:</label>
				<input type="text" placeholder="Nome do produto..." style="width:350px;">
				<button class="btn-search">
					Buscar
				</button>
			</div>
			<div style="padding-left:20px;">
				<label>Filtrar:</label>
				<select>
					<option>Relevância</option>
					<option>Promoção</option>
					<option>Maior preço</option>
					<option>Menor preço</option>
				</select>
			</div>
			<div style="padding-left:20px;">
				<label>Tamanhos:</label>
				<select>
					<option>...</option>
					<option>P</option>
					<option>M</option>
					<option>G</option>
					<option>GG</option>
				</select>
			</div>
		</div>
	</div>

    <div class="layout_padding gallery_section">
    	<div class="container">
    		<div class="row">
				{% if catalog %}
				<div class="col-sm-6">
					<h1>adasdadd</h1>
					<h1>adasdadd</h1>
					<h1>adasdadd</h1>
					<h1>adasdadd</h1>
					<h1>adasdadd</h1>
    				<a>Roupas</a>
    				<a>Roupas</a>
    				<a>Roupas</a>
    				<a>Roupas</a>
    				<a>Roupas</a>
    			</div>
				{% endif %}

				{% for product in products %}
    			<div class="col-sm-4">
    				<div class="best_shoes">
    					<p class="best_text">{{product.name}}</p>
						<a href="{% url 'product' product.id %}">
    						<div class="shoes_icon"><img src="{% static 'images/camisa_psg.jpg' %}"></div>
							<div class="shoes_price">R$ <span style="color: #fffff;">{{product.price}}</span></div>
							<button class="buy_text">Comprar</button>
						</a>
    				</div>
    			</div>
				{% endfor %}
			</div>
    	</div>
    </div>

   	<!-- New Arrivals section end -->
    <!-- section footer start -->
    <div class="section_footer">
    	<div class="container">
    		<div class="mail_section">
    			<div class="row">
    				<div class="col-sm-6 col-lg-5">
    					<div class="footer-logo">
							<span class="info_text">E-mail: </span>
<!--							<img src="{% static 'images/email-icon.png' %}">-->
							<span class="map_text">underground.store3@gmail.com</span>
						</div>
					</div>
					<div class="col-sm-6 col-lg-5">
    					<div class="footer-logo">
							<span class="info_text">Instagram: </span>
<!--							<img style="font-size=10px;" src="{% static 'images/logo-instagram-png-fundo-transparente4.png' %}">-->
								<a class="link" target="_blank"  href="https://www.instagram.com/undergroundstore_og/">@undergroundstore_og</a>
						</div>
					</div>
    				<div class="col-sm-2"></div>
    			</div>
    	    </div>
    	    <div class="footer_section_2">
		        <div class="row">
					<div class="col-sm-6 col-lg-3">
						<h2 class="adderess_text">Busque aqui!</h2>
						<div class="delivery_text">
								<ul>
									<a class="link" target="_blank" href="/">Início</a><br>
									<a class="link" target="_blank" href="/collection">Produtos</a><br>
									<a class="link" target="_blank" href="/about">Contato</a><br>
								</ul>
							</div>
					</div>
					<div class="col-sm-6 col-lg-4">
						<h2 class="adderess_text">Receba as Novidades! (Newsletter)</h2>
						<div class="form-group">
							<input type="text" class="enter_email" placeholder="Digite seu e-mail..." name="Name">
						</div>
						<button class="subscribr_bt">Inscreva-se!</button>
					</div>
    			</div>
    	        </div>
	        </div>
    	</div>
    </div>
	<!-- section footer end -->
	<!-- section footer end -->
	<div class="copyright">Underground Store</div>

      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         
		$('#myCarousel').carousel({
            interval: false
        });

        //scroll slides on swipe for touch enabled devices

        $("#myCarousel").on("touchstart", function(event){

            var yClick = event.originalEvent.touches[0].pageY;
            $(this).one("touchmove", function(event){

                var yMove = event.originalEvent.touches[0].pageY;
                if( Math.floor(yClick - yMove) > 1 ){
                    $(".carousel").carousel('next');
                }
                else if( Math.floor(yClick - yMove) < -1 ){
                    $(".carousel").carousel('prev');
                }
            });
            $(".carousel").on("touchend", function(){
                $(this).off("touchmove");
            });
        });
      </script> 
   </body>
</html>
